*{
    display: flex;
    flex-direction: column;
}

.title-section{
justify-content: center;
align-items: center;
}

.selection-screen{
flex-direction: row;
align-items: center;
justify-content: space-around;
margin: 50px;
}

.choice{
    width: 300px;
    height: 300px;
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
    margin: 10px;
    object-fit: contain;
}

.score{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.results{
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.reset{
    font-size: 20px;
    
}